@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
body{
    background-color: rgb(151, 175, 151);
    max-width: 700px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
}

/* NAV MENU*/

nav .menu{
  display: flex;
}
nav .menu li{
  list-style: none;
  margin: 0 20px;
}
nav .menu a{
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

/* BODY */

.text-content{
  position: absolute;
  top: 50%;
  left: 7%;
  z-index: 12;
}
header .text-content .text{
  font-size: 30px;
  color: #161922;
}
header .text-content .name{
color: #090b10;
 font-size: 75px;
 font-weight: 600;
 margin: -20px 0 0 -3px;
}

/*Footer*/

footer {
	background-color: #222;
	color: white;
	text-align: flex-end;
	padding: 10px 0;
    justify-content: flex-start;   
}