@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
body{
    background-color: white;
    max-width: 700px;
    margin: auto;
    padding: 20;
    font-family: 'Poppins',sans-serif;

}
}
* {
  box-sizing: border-box;
}

/* NAV MENU*/

nav .menu{
  display: flex;
}
nav .menu li{
  list-style: none;
  margin: 0 20px;
}
nav .menu a{
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

/* About Me */
/* Create three equal columns that floats next to each other */
.column {
  float: inline-start;
  width: 38%;
  padding: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:700px) {
  .column {
    width: 100%;
  }
}

.text-content{
  position: absolute;
  top: 50%;
  left: 7%;
  z-index: 12;
}
header .text-content .text{
  font-size: 30px;
  color: #161922;
}
header .text-content .name{
color: #090b10;
 font-size: 75px;
 font-weight: 600;
 margin: -20px 0 0 -3px;
}

/*Footer*/

footer {
	background-color: #222;
	color: white;
	text-align: flex-end;
	padding: 10px 0;
    justify-content: flex-start;   
}

/* ---ABOUT ME--- */


/* ---BLOG--- */
.text-content{
  position: absolute;
  top: 50%;
  left: 7%;
  z-index: 12;
}
header .text-content .text{
  font-size: 30px;
  color: #161922;
}
header .text-content .name{
color: #090b10;
 font-size: 75px;
 font-weight: 600;
 margin: -20px 0 0 -3px;
}